.mvn
mvnw
mvnw.cmd

HELP.md
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

data-owner/src/main/resources/application.yml
data-owner/src/main/resources/application-mongo.yml
linkage-unit/src/main/resources/application.yml
linkage-unit/src/main/resources/application-mongo.yml
protocol-manager/src/main/resources/application.yml
protocol-manager/src/main/resources/application-mongo.yml

mongo-storage/

*.log
logs/
/results
/datasets
btw-mongo-storage
btw-mongo-storage.old
